.bottomBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%; /* 幅を全体に揃える */
  max-width: 1300px; /* 最大幅を設定 */
  position: relative;
  top: 20px;
}

.dice {
  width: 15%;
  height: 20vh;
  font-size: 50px;
  background-color: rgba(249, 221, 187, 90%);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.chat:hover,
.dice:hover {
  background-color: rgba(249, 221, 187, 100%); /* ホバー時に背景色を変更 */
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7); /* ホバー時に影を強調 */
  transform: scale(1.05); /* 要素を少し大きくする */
}

.usersTable {
  display: flex; /* 横並びに配置 */
  width: 85%;
  height: 20vh;
  background-color: rgba(249, 221, 187, 80%);
  border: none;
  margin: 0 10px;
  padding: 0 10px; /* 左右に10pxの余白を追加 */
  align-items: center;
  justify-content: space-between; /* ボックスを等間隔で配置 */
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.userBox {
  max-width: 25%;
  width: 100%; /* サイズを調整 */
  height: 17vh;
  background-color: rgba(249, 221, 187, 90%);
  margin: 0 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.carIcon {
  font-size: 40px; /* 車アイコンの大きさを設定 */
  position: absolute; /* 車アイコンをマスの上に表示 */
  top: 50%; /* マスの中央に表示 */
  left: 50%;
  transform: translate(-50%, -50%); /* 中央に配置 */
  z-index: 10;
}

.diceResult {
  width: 10vh;
  height: 10vh;
  font-size: 20px;
  background-color: rgba(100, 100, 100, 100%);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

/* 画面幅が800px以下の場合 */
@media (max-width: 800px) {
  .chat,
  .dice {
    width: 20vh;
    height: 15vh;
    font-size: 30px;
  }

  .diceResult {
    width: 7vh;
    height: 7vh;
    font-size: 15px;
  }

  /* ボタンを縦並びにする */
  .bottomBar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

/* 画面幅が600px以下の場合 */
@media (max-width: 600px) {
  .chat,
  .dice {
    width: 15vh;
    height: 10vh;
    font-size: 20px;
  }

  .diceResult {
    width: 5vh;
    height: 5vh;
    font-size: 10px;
  }

  /* ボタンをさらに小さくし、中央揃えに */
  .bottomBar {
    flex-direction: column;
    align-items: center;
  }
}
