.resultPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2000;
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

.finishContents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: visible;
}

.finishContents p {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(255, 86, 86);
  margin-left: 80px;
  margin-bottom: 200px;
  opacity: 0;
  animation: fadeInOut 3s ease-in-out forwards;
  animation-delay: 2.1s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0; /* 非表示 */
  }
  20% {
    opacity: 1; /* 表示 */
  }
  100% {
    opacity: 0; /* 再び非表示 */
  }
}

.textWrapper {
  text-align: center;
  -webkit-text-stroke: 1.7px rgb(255, 255, 255);
  color: #ffc30d;
  font-weight: bold;
  font-size: 8rem;
  display: inline-block;
  position: absolute;
  top: 38%;
  opacity: 0;
  z-index: 1000;
  background-image: url('../../../../public/result/result.png');
  background-size: cover;
  height: 250px;
  width: 800px;
  text-align: center;
  animation:
    revealText 3s forwards,
    moveText 3s forwards;
  animation-delay: 5s, 8s;
}

.textWrapper::after {
  content: '';
  display: block;
  animation: moveText 3s forwards;
  animation-delay: 8s;
}

.textWrapper span {
  display: inline-block;
  position: relative;
  opacity: 0;
  animation: revealText 1s forwards;
}

.textWrapper span:nth-child(1) {
  animation-delay: 2s;
}
.textWrapper span:nth-child(2) {
  animation-delay: 2.1s;
}
.textWrapper span:nth-child(3) {
  animation-delay: 2.2s;
}
.textWrapper span:nth-child(4) {
  animation-delay: 2.3s;
}

@keyframes revealText {
  0% {
    opacity: 0;
    transform: translateY(10px);
    /* animation-delay: 20s; */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    /* animation-delay: 20s; */
  }
}

@keyframes moveText {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(-380px) scale(0.5);
  }
}

.rank {
  width: 1000px;
  min-height: 250px;
  margin: 50px auto 50px;
  padding: 50px 30px;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 9s;
  background: linear-gradient(145deg, rgb(150, 30, 30), rgb(70, 5, 5));
  border-radius: 10px;
  box-shadow:
    5px 5px 15px rgba(0, 0, 0, 0.5),
    -5px -5px 15px rgba(255, 255, 255, 0.2);
}

.firstPlace,
.secondPlace,
.otherPlace {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.rank dl {
  width: 950px;
  height: 70px;
  padding: 0 50px;
}

.firstPlace {
  animation-delay: 11s;
}

.secondPlace,
.otherPlace {
  animation-delay: 13s;
}

.rank dl:last-child {
  margin-bottom: 0;
}

.firstPlace dt::before {
  content: '👑';
}

.firstPlace {
  background-image: url('../../../../public/result/gold.png');
}

.secondPlace {
  background-image: url('../../../../public/result/silver.png');
}

.otherPlace {
  background-image: url('../../../../public/result/copper.png');
}

.rank dt,
.rank dd {
  font-size: 2.5rem;
  font-weight: bold;
}

.rank dt {
  min-width: 380px;
  text-align: start;
}

.rank dt span {
  width: 100px;
}

.rank dl:first-child {
  border-bottom: 1px dotted #333333;
}

.firstRank {
  border-bottom: 1px solid black;
}

.returnTop button {
  font-size: 2rem;
  font-weight: bold;
  width: 250px;
  text-align: center;
  margin: 0 auto;
  color: white;
  background-color: rgb(0, 142, 2);
  padding: 10px 0;
  border-radius: 15px;
  border-color: white;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
  animation: fadeIn 2s forwards;
  opacity: 0;
  animation-delay: 15s;
}
