.carIcon {
  font-size: 40px; /* 車アイコンの大きさを設定 */
  position: absolute; /* 車アイコンをマスの上に表示 */
  top: 50%; /* マスの中央に表示 */
  left: 50%;
  transform: translate(-50%, -50%); /* 中央に配置 */
  z-index: 10
  
}

.reservedCarImage{
  transform: scale(-1, 1);
}

/* .carImage{
  transform: scale(-1, 1);
} */
