.visibles {
  visibility: visible;
  transition: opacity 1s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.hiddens {
  visibility: hidden;
  transition: opacity 1s ease;
  opacity: 0;
}

.findNoPop {
  visibility: hidden;
  opacity: 0;
}
.findPop {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease;
  display: flex;
}

.searchPop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 350px;
  text-align: center;
  padding: 10px 20px 100px;
  background-color: rgba(254, 213, 117, 0.862);
  border-radius: 3%;
}

.searchPop p {
  font-size: 2rem;
  margin-bottom: 70px;
  color: white;
  font-weight: 1000;
}

.close button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 3px 6px;
  border: 1px solid white;
  cursor: pointer;
}

.close button:hover {
  color: rgb(163, 163, 163);
  border-color: rgb(163, 163, 163);
}

.close {
  text-align: end;
  font-size: 1.6rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 400px;
  height: 50px;
  margin-right: 50px;
  font-size: 1.3rem;
}

.search input::before {
  content: '  ';
}

.search button {
  background-color: none;
  background-color: rgb(12, 163, 12);
  width: 100px;
  height: 50px;
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  border-color: white;
}


.searchCandidates p{
  color: black;
  font-size: 1.3rem;
  margin-bottom: 0px;
}


.searchCandidates{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  margin: 30px auto 0px;
}

.searchCandidates button{
  background-color:red;
  margin-right: 11px;
  color: white;
  border-color: white;
  width: 100px;
  height: 50px;
  font-size: 1.3rem;
  font-weight: 700;
  
}

.searching{
  visibility: visible;
}


.notSearching{
  display: none;
}


.notFound p{
  font-size: 1.3rem;
  margin-top: 40px;
  
}
