.pageLink {
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  transition:
    opacity 1s ease,
    visibility 0s 1s;
}

.pageLink.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease;
  display: flex;
}



