.linkContent {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 20px 80px;
  background-color: rgba(105, 105, 105, 0.9);
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: fadeIn 1s ease 2s forwards;
}

.linkContent:hover {
  background-color: #e6b422;
}

.searchRoom button {
  border: none;
  margin: 0 150px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    opacity: 1;
  }
}
