/* 外側のスタイル */
.all {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

/* 内側のスタイル */
.container {
  position: relative; /* 退出ボタンの位置決めに必要 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  height: auto;
  max-height: 800px;
  border-radius: 15px;
  background-color: rgba(254, 213, 117, 0.862);
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* タイトル（待機中）のスタイル */
.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* ルームIDのスタイル */
.roomId {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.playerCount {
  font-size: 20px;
  margin-bottom: 20px;
}

/* プレイヤーリストのスタイル */
.playerList {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  width: 100%; /* プレイヤーリストが親要素に広がる */
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央に配置 */
}

/* プレイヤーボックスのスタイル */
.playerBox {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

/* プレイヤー名のテキストボックス風スタイル */
.playerName {
  width: 80%;
  width: 500px;
  height: 50px; /* 文字が入るくらいの高さ */
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  margin-right: 10px;
  box-sizing: border-box; /* 枠線やパディングを含めて幅を計算 */
}

/* ボタングループ */
.buttonGroup {
  display: flex;
  justify-content: space-between; /* 左右にボタンを配置 */
  width: 100%; /* 親要素の幅いっぱいに広げる */
  max-width: 800px; /* ボタンのラッパーの最大幅を指定 */
  margin: 20px auto; /* 中央に配置 */
}

/* ゲーム開始ボタン */
.startButton {
  font-size: 30px;
  padding: 10px 20px;
  background-color: #d8185f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto; /* 完全に中央に配置する */
  display: block; /* 幅いっぱいに対応 */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.startButton:hover {
  background-color: #d8185e7b;
}

/* 退出ボタン */
.exitButton {
  position: absolute; /* 絶対位置で配置 */
  right: 5px; /* コンテナの左に配置 */
  font-size: 30px;
  padding: 10px 20px;
  background-color: rgb(99, 160, 1); /* グレー色 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.exitButton:hover {
  background-color: rgb(9, 104, 3); /* ホバー時に色を少し暗くする */
}
